.Header {
      margin: 10px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgb(61, 60, 60);
      &__img{
            display: flex;
            justify-content: space-around;
            align-items: center;
            & img{
                  object-fit: cover;
                  border-radius: 50%;
            }
      }
      &__navigation{
            display: flex;
            justify-content: center;
            align-items: center;
            & a{
                  padding: 8px;
                  margin: 5px;
                  text-decoration: none;
                  font-size: 100%;
                  color: rgb(61, 60, 60);
                  &:focus{
                        border-radius: 7px;
                        background-color: rgb(15, 216, 202);
                        color: black;    
                  }
            }
      }
}