.Resume {
      &__buttons{
            display: flex;
            justify-content: center;
      }
      & a{
            background-color: rgb(15, 216, 202);
            color: black;    
            margin: 5px;
            padding: 10px;
            border-radius: 7px;
            text-decoration: none;
            &:hover{
                  background-color: rgb(5, 93, 87);
                  color: white; 
            }
}
}