.LayoutArea {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 75% 7%;
    grid-template-columns: repeat(6,1fr);
    & > header, & > footer{
      grid-column: span 6;
    }

    & > main {
      grid-column: span 6;
    }
}