.About {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: auto;
      width: 75%;
      & h3{
            margin-top: 2%;
            justify-content: center;
      }
      &__techs{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
      }
      &__captions{
            & > h5{
                  padding-left: 5px;
                  border-left: 3px solid gray;
                  color: rgb(88, 88, 88);
            }
            color: rgb(63, 62, 62);
            border-radius: 5px;
            margin: 10px;
            padding: 20px;
            &>ul{
                  list-style-type:disc;
                  padding-left: 10%;
            }
      }
}